@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&family=Parkinsans:wght@300..800&family=Shippori+Mincho&display=swap');

body {
  scroll-behavior: smooth;
  font-family: "Parkinsans", sans-serif;
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-size: 40px;
}
section{
  padding: 20px;
  margin-bottom: 50px;
}
h1 {
  font-size: 70px;
  color:#002c5c;
}
.intro{
  font-size: 40px;
  font-weight: 500;
  color: #004894;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  text-decoration-color: #356ebf;
}
.steps{
  font-size: 32px;
  font-weight: 400;
  color: #356ebf;
}
.final{
  font-size: 38px;
  font-weight: 450;
  color: #004894;
  font-style: italic;
}
.button{
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 550;
  padding: 10px 30px;
  border-radius: 8px;
  color: white;
  background-color: #356ebf;
}
.back{
  text-align: left !important;
  margin-left: 0 !important;
  font-size: 18px;
  color: #356ebf;
}
.back:hover {
  color: #002c5c;
}
#q-number{
  font-size: 40px;
  font-weight: 350;
  color: #356ebf;
}
.question {
  margin: 20px;
  font-size: 28px;
  color: #004894;
  font-weight: 600;
}
.options {
  list-style-type: none;
  border: none;
  padding: 15px 5px;
  font-size: 38px;
  font-weight: 300;
}
.options li button {
  padding: 12px 35px;
  margin: 6px;
  font-size: 22px;
  font-weight: 300;
  border: 2px solid #6495ed;
  border-radius: 5px;
  background-color: #6495ed;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
.options li button:hover {
  color:#6495ed;
  background-color: white;
} 
#feedback{
  font-size: 24px;
  font-weight: 350;
}
.next-button {
  padding: 10px 20px;
  font-size: 24px;
  border: 2px solid #004894;
  border-radius: 5px;
  background-color: #004894;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
.hidden {
  display: none;
}
.result {
  color: #004894;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}
